<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem
        id="menu_datev_payroll"
        name="Payroll"
        parent="datev_connector.menu_datev_root"
        sequence="20"
        groups="hr.group_hr_manager"
    />

    <menuitem
        id="menu_datev_payroll_export"
        name="Export Payroll to DATEV"
        parent="menu_datev_payroll"
        action="action_datev_payroll_export_wizard"
        sequence="10"
    />

    <menuitem
        id="menu_datev_employee_mapping"
        name="Employee Mappings"
        parent="menu_datev_payroll"
        action="action_datev_employee_mapping"
        sequence="20"
    />
</odoo>
