<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem
        id="menu_datev_payroll"
        name="Payroll"
        parent="datev_connector.menu_datev_root"
        sequence="20"
        groups="hr.group_hr_manager"
    />

    <menuitem
        id="menu_datev_payroll_runs"
        name="Lohnläufe"
        parent="menu_datev_payroll"
        action="action_datev_payroll_run"
        sequence="5"
    />

    <menuitem
        id="menu_datev_payroll_import"
        name="Lohndaten importieren"
        parent="menu_datev_payroll"
        action="action_datev_payroll_import_wizard"
        sequence="6"
    />

    <menuitem
        id="menu_datev_salary_type"
        name="Lohnarten"
        parent="menu_datev_payroll"
        action="action_datev_salary_type"
        sequence="7"
    />

    <menuitem
        id="menu_datev_payroll_export"
        name="Export Payroll to DATEV"
        parent="menu_datev_payroll"
        action="action_datev_payroll_export_wizard"
        sequence="10"
    />

    <menuitem
        id="menu_datev_employee_mapping"
        name="Employee Mappings"
        parent="menu_datev_payroll"
        action="action_datev_employee_mapping"
        sequence="20"
    />
</odoo>
